{% extends "layout/basic.html" %}
{% load static %}

{% block title %} 用户短信登陆 {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="account">
        <h1 style="text-align: center">用户短信登陆</h1>
        <form id="smsForm" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-6" style="padding-left: 0px">{{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-md-6"><input id="btnSms" type="button" class="btn btn-default"
                                                         value="点击获取验证码"></div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <div>
                <div style="float:right">
                    <a href="{% url 'login' %}">用户名密码登陆？</a>
                </div>
            </div>
            <input id="btnSubmit" type="button" class="btn btn-primary" value="登  陆">
        </form>
    </div>
{% endblock %}


{% block js %}
    <script>
        //页面框架加载完成自动执行
        $(function () {
            bindClickBtnSms();
            bindClickBtnSubmit();
        });

        /*
        * 点击登陆提交
        * */
        function bindClickBtnSubmit() {
            $('#btnSubmit').click(function () {
                $('.error-msg').empty();
                //收集表单数据 $('#regForm').serialize()
                //获取所有字段数据+csrf_token
                //数据ajax传到后台
                $.ajax({
                    url: "{% url 'login_sms' %}",
                    type: "POST",
                    data: $('#smsForm').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data;
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }


        /*
        * 点击获取验证码的按钮绑定事件
        * */
        function bindClickBtnSms() {
            $('#btnSms').click(function () {
                $(".error-msg").empty();

                //获取用户手机号
                //找到手机号输入框的ID，根据ID获取值
                var mobile_Phone = $('#id_mobile_phone').val();


                //发送ajax请求，把手机号发送过去
                $.ajax({
                    url: "{% url 'send_sms' %}",
                    type: "GET",
                    data: {
                        mobile_phone: mobile_Phone,
                        tpl: "login"
                    },
                    dataType: "JSON",
                    success: function (res) {
                        //ajax请求发送成功之后，自动执行的函数
                        if (res.status) {
                            sendSmsRemind();
                        } else {
                            //{status:False,error:{mobile_phone:['错误信息',]}}
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

        /*
        * 请求成功，计时器开始
        * */
        function sendSmsRemind() {
            var $smsBtn = $('#btnSms');
            $smsBtn.prop('disabled', true);//禁用

            var time = 59;
            var remind = setInterval(function () {
                $smsBtn.val(time + '秒重新发送');
                time = time - 1;
                if (time < 1) {
                    clearInterval();
                    $smsBtn.val('点击获取验证码').prop('disabled', false);
                }
            }, 1000);
        }

    </script>
{% endblock %}
